{% extends '::base.html.twig' %}

{% block title %} - Panu Leppäniemi{% endblock %}
    
{% block body %}
    <section id="wrapper">
        <header id="logo">
            teachi
        </header>

        <nav id="main">
            {% block content_header_more %}
                <ul>
                    <li><a href="#">TDD</a></li>
                    <li><a href="#">Testing</a></li>
                </ul>
            {% endblock %}
        </nav>

        {% block content_header %}{% endblock %}

        <section id="content">
            {% block content %}{% endblock %}
        </section>
    </section>

    <footer>
        &copy; Panu Leppäniemi
    </footer>
{% endblock %}