{% extends "TeachiMaterialBundle::layout.html.twig" %}

{% block content %}

<h1>
    TDD<br/>test-driven development
</h1>
<span class="author">Panu&nbsp;Leppäniemi</span>


<h2>Introduction</h2>

<p>
Tämän kurssin tavoitteet.
</p>


<h3>Sub subject</h3>

<h4>Sub sub subject</h4>

<p>
    Some text about the subject and of course, the mandatory lorem ipsumo!
</p>

<pre>
$this = null;
foreach($this as $asd) {
    continue; // this does not make any sense.
}
$maybe    = true;
$iNeed    = true;
$moreCode = false;
</pre>

<hr/>

<p class="tip">
    If I write something here, I hope the Buddha comments on it.
    If I write something here, I hope the Buddha comments on it.
    If I write something here, I hope the Buddha comments on it.
    If I write something here, I hope the Buddha comments on it.
    If I write something here, I hope the Buddha comments on it.
    If I write something here, I hope the Buddha comments on it.
    If I write something here, I hope the Buddha comments on it.
</p>

<aside>
    <p>
        I will comment on it.
    </p>
</aside>

{% endblock %}